@font-face {
    font-family: 'EntezareZohoor2';
    src: url('../assets/fonts/Kids\ Year.ttf') format('truetype');
}

:root {
    --bg-color: #1a1a1a;
    --fg-color: #fff;
    --lines-opacity: 0.3;


    --purple: #772df7;
    --pink: #f15d85;
    --orange: #f79926;
    --green: #65c06f;
    --blue: #6f92e2;

    --acc-gradient: linear-gradient(45deg, var(--orange) 30%, var(--pink), var(--purple) 70%);
    --acc-gradient-anim: text-shine 10s infinite ease-in-out;

    --tri-gradient: linear-gradient(90deg, var(--orange) 30%, var(--fg-color) 50%, var(--green) 100%);
}

.about {
    text-align: center;
}

.about * {
    transition: all 0.5s;
    transition-delay: 0ms;
}

.inner-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-top: 5rem; */
    cursor: pointer;
    /* background-color: #65c06f; */
    /* overflow: hidden; */
}

.inner-about:hover {
    padding-top: 2rem;
}

.about .quote {
    font-size: 200%;
}

.inner-about:hover .quote {
    padding-top: 2rem;
    font-size: 210%;
    letter-spacing: 0.3rem;
    transform: translateY(-90%);

}

.info-card p {
    font-size: 120%;
}

.info-card {
    display: block;
    position: absolute;
    padding-top: 2rem;
    opacity: 0;
    max-width: 45dvw;
    transition: all 0.5s;
    filter: blur(10px);
}


.inner-about:hover .info-card {
    display: block;
    opacity: 1;
    transform: translateY(30%);
    filter: blur(0);
}

.about .hover-indicator {
    position: relative;
    top: -6rem;
    left: 30rem;
    width: 0;
    height: 0;

}

.indicator-arrow {
    position: relative;
    top: 2rem;
    left: -3rem;
    width: 4.5rem;
    height: 4.5rem;
    rotate: -210deg;
}

.indicator {
    top: -4rem;
    left: 1rem;
    position: relative;
    max-width: 5rem;

    font-size: 150%;
    rotate: 20deg;
    font-family: 'Kids Year', 'Comic sans';
    display: block;
}

.mobile-indicator {
    position: relative;
    display: none;
}



@media (width<=600px) {
    .indicator-arrow {
        left: -2rem;
    }

    .about .hover-indicator {
        top: -6rem;
        left: 6rem;

    }

    .mobile-indicator {
        top: -4rem;
        left: 2rem;

        max-width: 5rem;
        font-size: 150%;
        rotate: 20deg;
        font-family: 'Kids Year', 'Comic sans';
        display: block;
    }

    .indicator {
        display: none;
    }


    .inner-about:hover .quote {
        padding-top: 2rem;
        font-size: 140%;
        transform: translateY(-90%);
        max-width: 90dvw;

    }

    .inner-about .quote {
        font-size: 130%;
        max-width: 80dvw;
    }

    .info-card {
        display: block;
        max-width: 80vw;
        font-size: 90%;
    }
}